apiVersion: apps/v1
kind: Deployment
metadata:
  name: eureka
  namespace: ims-namespace
spec:
  replicas: 1
  selector:
    matchLabels:
      app: eureka
  template:
    metadata:
      labels:
        app: eureka
    spec:
      containers:
        - name: eureka
          # Use the same image you use in Docker Compose (build it and push to Docker Hub)
          image: devarshi2002/msa-ims:eureka
          ports:
            - containerPort: 8761
          env:           
            # Eureka configuration
            - name: EUREKA_INSTANCE_HOSTNAME
              value: eureka
            - name: EUREKA_CLIENT_REGISTER_WITH_EUREKA
              value: "false"
            - name: EUREKA_CLIENT_FETCH_REGISTRY
              value: "false"
---
